 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to left, #aa076b, #61045f);
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	background-size: 400% 400%;
	color: white;
}

h1 {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 10px;
	font-style: italic;
	color: white;
}

fieldset {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-color: white;
	padding-bottom: 15px;
	padding-top: 30px;
}

label {
	float: left;
	width: 100px;
	text-align: center;
	padding-left: 110px;
	padding-top: 5px;
	color: white;
}

input {
	float: left;
	color: red;
	padding-right: 5px;
}

button {
	color: white;
	background-color: #aa076b;
}

#output {
	font-size: 100%;
	text-align: center;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	padding-bottom: 30px;
}
